.skeleton {
    background: linear-gradient(
        90deg,
        #e7dedeb4 25%,
        #f3ebebb4 50%,
        #e6ddddc2 75%
    );

    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}