{% extends "base.html" %}

{% load group_filters %}

{% load static %}

{% block title %}{{ product.product_name }} - SwiftBasket{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}">
            {% else %}
                <img src="{% static 'img/default-product.png' %}" class="card-img-top" alt="Default image">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ product.product_name }}</h3>
                <p class="card-text"><strong>Price:</strong> R{{ product.price }}</p>
                <p class="card-text d-flex align-items-center">
                    <strong class="me-2">Rating:</strong>
                    <small class="text-muted">
                        {% with avg=product.avg_rating %}
                        {% if avg %}
                            <a href="{% url 'product_reviews_view' product.pk %}">
                                {% for i in "12345" %}
                                {% if forloop.counter <= avg|floatformat:0 %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                                {% endfor %}
                                ({{ avg|floatformat:1 }}/5)
                            </a>
                        {% else %}
                            {% if user|has_group:"Buyers" %}
                                No ratings yet... <a href="{% url 'create_review' product.pk %}">create review.</a>
                            {% else %}
                                No ratings yet
                            {% endif %}
                        {% endif %}
                        {% endwith %}
                    </small>
                </p>
                <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>

                <div class="d-flex justify-content-between mt-4">
                    <form method="post" action="{% url 'add_item_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item" value="{{ product.product_id }}">
                        
                        <div class="input-group" style="max-width: 200px;">
                            <input type="number" name="quantity" value="1" min="1" class="form-control" required>
                            <button type="submit" class="btn btn-outline-danger">Add to cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
